@import '../colors.less';

.distribution-chart {
    // rect {
    //     fill: #41BB8A;
    // }
    // rect:hover {
    //     fill: #0A915B;
    // }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .tick line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .legend-item {
        text {
            font-size: 20px;
        }
        .korrespondent {
            fill: @korrespondent;
        }
        .pravda {
            fill: @pravda;
        }
    }

    .bar {
        &.korrespondent {
            fill: @korrespondent;
        }
        &.pravda {
            fill: @pravda;
        }
    }
    .selected .bar {
        &.korrespondent {
            fill: @korrespondent-selected;
        }
        &.pravda {
            fill: @pravda-selected;
        }
    }
}

.source0 {
    fill: #1f77b4;
}

.source1 {
    fill: #ff7f0e;
}

.source2 {
    
}

.source3 {

}

.selected {
    .source0 {
        fill: #0f3a58;
    }

    .source1 {
        fill: #7c3e06;
    }

    .source2 {
        
    }

    .source3 {
        
    }
}

.bar-group {

}



