.distribution-chart {
    rect {
        fill: #41BB8A;
    }
    rect:hover {
        fill: #0A915B;
    }

    .axis path,
    .axis line {
        fill: none;
        // stroke: #000;
        shape-rendering: crispEdges;
    }
}